button {
  &.BtnLink {
    display: block;
    margin: 12px 0;
  }
  background-color: transparent;
  border: 2px solid $text;
  color: $text;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 7px 0;
  transition: all 0.3s;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: $brand;
    border: 2px solid $brand;
  }
}
