@import 'vars';

input,
textarea {
  font-weight: 600;
  color: $bg-noApha;
  height: 20px;
  border-radius: 5px;
  background-color: $text;
  border: none;
  padding: 0 10px;
  &:focus {
    outline: none;
    background-color: $white;
  }
}
input {
  width: 300px;
  margin-top: 12px;
}
