.likes.box {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-top: 8px;
  margin-bottom: 15px;
  .count {
    margin: 0 10px;
    &.btn {
      padding: 0 5px;
      margin: 0;
    }
  }
}
