.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  border-bottom: 1px solid $white;
  h1 {
    color: $brand;
  }
  ul.links {
    margin-left: auto;
    list-style: none;
    li {
      display: inline-block;
    }
  }
  a {
    font-weight: 700;
    margin-left: 16px;
    padding: 6px;
    &:hover {
      color: $brand;
    }
  }
}
