@import 'mixins';
@import 'vars';

.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.cont-to-center {
  // flex mixin to center
  @include flex(column);
  height: 60vh;
}

.active {
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: $text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
  }
}
